/* 全体  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
body{
    font-family: "FOT-筑紫A丸ゴシック Std M", TsukuARdGothicStd-M, "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", メイリオ, Meiryo, sans-serif;
    font-size: 18px;
    background-color: #0d0a3e;
}
/* ============================================= */
/* ヘッダー  */
header{
    background-image: url(gnavi_back2.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    height: 170px;
    position: fixed;
    width: 100%;
    z-index: 10;
}
#gnavi{
    display: flex;
    width: 1200px;
    margin: 0 auto 0;
}
.gnavi1,.gnavi3,.gnavi4{
    margin: 30px 0px 30px;
}
.gnavi1:hover{
    background-image: url(gnavi_click_1.png);
    background-repeat: no-repeat;
}
.gnavi2{
    margin: 30px 240px 30px 0;
    
}
.gnavi2:hover{
    background-image: url(gnavi_click_2.png);
    background-repeat: no-repeat;
}
.gnavi3:hover{
    background-image: url(gnavi_click_3.png);
    background-repeat: no-repeat;
}
.gnavi4:hover{
    background-image: url(gnavi_click_4.png);
    background-repeat: no-repeat;
}
h1{
    width: 240px;
    margin: auto;
    position: relative;
    bottom: 105px
}
/* ============================================= */
/* 右CV */
.side_menu{
    position: absolute;
    right: 0;
    top: 200px;
    z-index: 10;
    }
.menu01{
    margin-bottom: 10px;
}
#cv1{
    width: 565px;
    display: flex;
    position: absolute;
    right: 0px;
    top: 100px;
    position: fixed;
}
#cv1_right{
    margin-left: 20px;
}
/* ============================================= */
/* MV */
#mv{
    width: 1200px;
    margin: 0 auto 0;
    padding-top: 100px;
    position: relative;
    bottom: 10px;
    z-index: 1;
}
/* ============================================= */
/* コンセプト */
#concept_wrapper{
    background-image: url(concet_line.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
}
h2{
    color: #ffffff;
    text-align: center;
    height: 50px;
    margin: 100px auto 100px;
    padding-top: 125px;
    font-size: 30px;
}
#wrapper1{
    display: flex;
    width: 1200px;
    margin: auto;
}
#wrapper2{
    display: flex;
    width: 1200px;
    margin: auto;
}
#wrapper3{
    display: flex;
    width: 1200px;
    margin: auto;
}
.concept_image,.concept_image2{
    width: 482px;
    margin: 60px 60px 50px;
}
h3{
    width: 600px;
    text-align: center;
    margin: 160px auto 20px;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}
.text{
    width: 600px;
    text-align: center;
    margin: 30px auto 20px;
    color: #ffffff;
    font-size: 18px;
}
.more{
    width: 358px;
    margin: 100px auto 50px;
}
/* ============================================= */
/* 中間CV */
#kanpai{
    display: flex;
    width: 463px;
    margin: 0 auto 0;
}
#soju{
    width: 358px;
    margin: 100px auto 0 50px;
}
#ok{
    margin: 300px 0 0 50px;
}
#cv2{
    width: 1100px;
    margin: 100px auto 100px;
    display: flex;
    position: relative;
}
/* ============================================= */
/* メニュー */
#menu_wrapper{
    background-image: url(menu_line.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
}
.text2{
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    padding: 50px 0 20px;
}
.arrow-text{
    margin: 250px 0 100px;
}
.arrow-text .slick-arrow_prev,
.arrow-text .slick-arrow_next {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
}
.arrow-text .slick-arrow_prev {
    margin-left: 350px;
	opacity: 0.4;
}
.arrow-text .slick-arrow_prev:hover{
    background:url(more_left_click.png);
	opacity: 0.8;
}

.arrow-text .slick-arrow_next {
    right: 350px;
	opacity: 0.4;
}
.arrow-text .slick-arrow_next:hover{
    background:url(more_right_click.png);
    opacity: 0.8;
}
/* ============================================= */
/* マップ */
#map_wrapper{
    background-image: url(map_line.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
}
table{
    margin:50px auto 50px;
}
th{
    color: #ffffff;
    font-size: 18px;
    width: 400px;
    padding: 20px 20px 20px 200px;
    text-align: left;
}
td{
    color: #ffffff;
    font-size: 18px;
    width: 500px;
    padding: 20px;
}
/* ============================================= */
/* フッター */
footer{
    background-color: #edc9e3;
}
#footer_wrapper{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
#footer_left{
    width: 300px;
}
#footer_right{
    width: 800px;
}
#footer_logo{
    width: 219px;
    margin: 40px auto 30px;
}
#sns{
    display: flex;
    margin: 100px 0 30px;
    justify-content: space-evenly;
}
#footer_navi{
    width:1000px;
    margin: 30px auto 30px;
    display: flex;
    color: #0d0a3e;
    font-size: 22px;
    width: 685px;
    justify-content: space-evenly;
}
#recerve{
    width: 290px;
    margin: 60px auto 40px;
    color: #0d0a3e;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 3px #0d0a3e;
}
#cv3{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.cv3_1{
    margin-right: 50px;
}
#Copyright{
    text-align: center;
    font-size: 13px;
}
/* ============================================= */






/* ============================================= */
/* ============================================= */
/* SP */
@media only screen and (max-width: 390px) {
    body {
        background-color: #eded16;
    }
	header{
    background-image: url(gnavi_back2.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    height: 170px;
    position: fixed;
    width: 100%;
    z-index: 10;
}
	.logo{
	max-width: 24px;
    	margin: auto;
	    position: relative;
    	bottom: -110px;
	}
    .nav {
      position: fixed;
      right: -320px; /* 右から出てくる */
      top: 0;
      width: 300px; /* スマホに収まるサイズ */
      height: 100vh;
      padding-top: 60px;
      background-color: #0d0a3e;
      transition: all .6s;
      z-index: 200;
      overflow-y: auto; /* メニューが多くなったらスクロールできるように */
    }
    .hamburger {
      position: absolute;
      right: 15px;
      top: 8px;
      width: 40px; /* クリックしやすい幅 */
      height: 40px; /* クリックしやすい高さ */
      cursor: pointer;
      z-index: 300;
    }
    #gnavi {
		display: block;
		margin: 0;
		padding: 0;
		list-style: none;
    }
    .nav_item1,.nav_item2,.nav_item3,.nav_item4 {
      text-align: left;
      padding: 0 14px;
    }
    .hamburger_border {
      position: absolute;
      left: 11px;
      width: 18px;
      height: 2px;
      background-color: #ffffff;
      transition: all .6s;
    }
    .hamburger_border_top {
      top: 14px;
    }
    .hamburger_border_center {
      top: 20px;
    }
    .hamburger_border_bottom {
      top: 26px;
    }
    .black_bg {
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      z-index: 100;
      background-color: #333;
      opacity: 0;
      visibility: hidden;
      transition: all .6s;
      cursor: pointer;
    }
  
    /* 表示された時用のCSS */
    .nav-open .nav {
      right: 0;
    }
    .nav-open .black_bg {
      opacity: .8;
      visibility: visible;
    }
    .nav-open .hamburger_border_top {
      transform: rotate(45deg);
      top: 20px;
    }
    .nav-open .hamburger_border_center {
      width: 0;
      left: 50%;
    }
    .nav-open .hamburger_border_bottom {
      transform: rotate(-45deg);
      top: 20px;
    }

    /* 右CV */
    .side_menu{
        position: relative;
        z-index: 1;
        }
    #cv1{
        width: 273px;
        display: block;
        position: absolute;
        right: 0px;
        top: 100px;
    }
    #cv1_right{
        margin-left: 0;
    }

    /* MV */
    #mv{
        width: 700px;
        height: auto;
        padding-top: 100px;
        position: relative;
        bottom: 10px;
        z-index: 1;
    }


    /* コンセプト */
#concept_wrapper{
    background-image: url(concet_line.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    max-width: 100%;
}
#wrapper1,#wrapper2,#wrapper3{
    display: flex;
    max-width: 100%;
    margin: auto;
}
.concept_image{
    background-color: rgb(17, 235, 235);
    max-width: 50%;
    margin: 50px 30px 50px;
}
.concept_image2{
    background-color: rgb(17, 235, 235);
    max-width: 50%;
    margin: 20px 30px 50px;
}
h3{
    background-color: aquamarine;
    max-width: 50%;
    text-align: center;
    margin: 110px 10px 20px;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}
.text{
    background-color: blue;
    max-width: 50%;
    text-align: center;
    margin: 30px 10px 20px;
    color: #ffffff;
    font-size: 18px;
}
.more{
    width: 358px;
    margin: 100px auto 50px;
}
/* ============================================= */
/* 中間CV */
#kanpai{
    display: flex;
    width: 463px;
    margin: 0 auto 0;
}
#soju{
    width: 358px;
    margin: 100px auto 0 50px;
}
#ok{
    margin: 300px 0 0 50px;
}
#cv2{
    width: 1100px;
    margin: 100px auto 100px;
    display: flex;
    position: relative;
}
/* ============================================= */
/* メニュー */
#menu_wrapper{
    background-image: url(menu_line.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
}
.text2{
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    padding: 50px 0 20px;
}
.arrow-text{
    margin: 250px 0 100px;
}
.arrow-text .slick-arrow_prev,
.arrow-text .slick-arrow_next {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
}
.arrow-text .slick-arrow_prev {
    margin-left: 350px;
        opacity: 0.4;
}
.arrow-text .slick-arrow_prev:hover{
    background:url(more_left_click.png);
        opacity: 0.8;
}

.arrow-text .slick-arrow_next {
    right: 350px;
        opacity: 0.4;
}
.arrow-text .slick-arrow_next:hover{
    background:url(more_right_click.png);
    opacity: 0.8;
}
/* ============================================= */
/* マップ */
#map_wrapper{
    background-image: url(map_line.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
}
table{
    margin:50px auto 50px;
}
th{
    color: #ffffff;
    font-size: 18px;
    width: 400px;
    padding: 20px 20px 20px 200px;
    text-align: left;
}
td{
    color: #ffffff;
    font-size: 18px;
    width: 500px;
    padding: 20px;
}
/* ============================================= */
/* フッター */
footer{
    background-color: #edc9e3;
}
#footer_wrapper{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
#footer_left{
    width: 300px;
}
#footer_right{
    width: 800px;
}
#footer_logo{
    width: 219px;
    margin: 40px auto 30px;
}
#sns{
    display: flex;
    margin: 100px 0 30px;
    justify-content: space-evenly;
}
#footer_navi{
    width:1000px;
    margin: 30px auto 30px;
    display: flex;
    color: #0d0a3e;
    font-size: 22px;
    width: 685px;
    justify-content: space-evenly;
}
#recerve{
    width: 290px;
    margin: 60px auto 40px;
    color: #0d0a3e;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 3px #0d0a3e;
}
#cv3{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.cv3_1{
    margin-right: 50px;
}
#Copyright{
    text-align: center;
    font-size: 13px;
}
}
/* ============================================= */
